TOKEN=change_me
BASE_URL=http://127.0.0.1:2201
BOT_TOKEN=telegram_bot_token
PAYMENT_URL=https://www.donationalerts.com/r/wiered
REDIS_URL=redis://localhost:6379/0
REDIS_KEY_PREFIX=ruzbot
REDIS_TTL_PROFILE_S=900
REDIS_TTL_GROUP_SCHEDULE_S=3600
REDIS_TTL_USER_SCHEDULE_S=300
REDIS_TTL_MESSAGE_S=300