TOKEN=change_me
BASE_URL=http://127.0.0.1:2201
BOT_TOKEN=telegram_bot_token
PAYMENT_URL=https://www.donationalerts.com/r/wiered
REDIS_URL=redis://localhost:6379/0
REDIS_KEY_PREFIX=ruzbot
REDIS_TTL_PROFILE_S=1800
REDIS_TTL_SCHEDULE_S=300
REDIS_TTL_MESSAGE_S=600